{% load static %}
<header class="site-header">
    <div class="container">
        <a href="{% url 'home' %}" id="branding">
            <img src="{% static 'assets/images/logo.png' %}" alt="" class="logo">
            <div class="logo-copy">
                <h1 class="site-title">Company Name</h1>
                <small class="site-description">Tagline goes here</small>
            </div>
        </a> <!-- #branding -->

        <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item {%if request.path == '/home' %}current-menu-item{% endif %}"><a href="{% url 'home' %}">Home</a></li>
                <li class="menu-item {%if request.path == '/about' %}current-menu-item{% endif %}"><a href="{% url 'about' %}">About</a></li>
                <li class="menu-item {%if request.path == '/review' %}current-menu-item{% endif %}"><a href="{% url 'review' %}">Movie reviews</a></li>
                <li class="menu-item"><a href="joinus.html">Downloads</a></li>
                <li class="menu-item"><a href="contact.html">Contact</a></li>
            </ul> <!-- .menu -->

            <form action="#" class="search-form">
                <input type="text" placeholder="Search...">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- .main-navigation -->

        <div class="mobile-navigation"></div>
    </div>
</header>